*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.grid{
    padding: 12px;
    width: 80%;
    margin: auto;
 display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.grid .box{
    width: 300px;
    border-radius: 6px;
    padding: 10px;
    background: rgb(245, 249, 255);
}
.grid .box h3{
    color: black;
    font-size: 16px;
    margin-bottom: 10px;
}
.grid .box p{
    font-size: 12px;
    color: grey;
    line-height: 20px;
}
.grid .img{
    overflow: hidden;
    width: 100%;
    height: 150px;
    margin: 10px auto;
}
.grid .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}