*{
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}
.container{
    width: 100%;
    background-color: whitesmoke;
    max-width: fit-content;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
}
.top{
    background-color: whitesmoke;
    color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content:ce;
    width: 100%;
    height: 60px;
}
.log{
    font-size: 18px;
    font-weight: bold;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 30px;
}
nav a{
    text-decoration: none;
    color: black;
    margin:  10px;
    font-size: 14px;
    padding: 10px;
}
.side{
    margin-left: 300px;
    font-size: 16px;
}
.side h1{
     font-size: 16px;
}
.me{
    color: grey;
    font-size: 14px;
    margin-left: 30px;
    margin-top: 30px;
    
}
.me h2{
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
}
.categories {
   display: flex;
    gap: 30px;
}
.category {
   font-weight: 100;
   color: black;
   cursor: pointer;
   margin-left: 30px;
   margin-top: 35px;
   background-color: rgba(237, 235, 240, 0.938);
   padding: 10px;
   border-radius: 25px;
}
.category1{
   font-weight: 100;
   color: white;
   cursor: pointer;
   margin-left: 30px;
   margin-top: 35px;
   background-color: rgba(151, 78, 239, 0.938);
   padding: 10px;
   border-radius: 25px; 
}
.grid1{
    height: fit-content;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 10px;
    padding: 20px;
}
.grid{
    width: 100%;
    background: white;
    border-radius: 6px;
    padding: 12px;
}
.grid2{
    height: fit-content;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 10px;
    padding: 20px;
}
.grids{
    width: 100%;
    background: white;
    border-radius: 6px;
    padding: 12px;
}
.grid3{
     height: fit-content;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 10px; 
    padding: 20px;
}
.gridss{
    width: 100%;
    background: white;
    border-radius: 6px;
    padding: 12px;
} 
