*{
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}
.container{}
.top{
    background-color: rgb(223, 219, 219);
    color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content:ce;
    width: 100%;
    height: 60px;
}
.log{
    font-size: 18px;
    font-weight: bold;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 30px;
}
nav a{
    text-decoration: none;
    color: black;
    margin:  10px;
    font-size: 14px;
    padding: 10px;
}
.side{
    margin-left: 100px;
    font-size: 16px;
}
.side h1{
     font-size: 16px;
}
.me{
    color: grey;
    font-size: 14px;
    margin-left: 30px;
    margin-top: 30px;
}
.me h2{
    color: black;
    font-weight: bold;
}
.categories {
   display: flex;
    gap: 30px;
}
.category {
   font-weight: 600;
   color: grey;
   cursor: pointer;
   margin-left: 30px;
   margin-top: 35px;
   background-color: rgba(226, 233, 236, 0.938);
   padding: 10px;
    border-radius: 15px;
}
.grid1{
    height: fit-content;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 10px;
}
.grid{
    width: 100%;
    background: rgb(223, 219, 219);
    border-radius: 6px;
    padding: 12px;
}