*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    background: rgb(36, 36, 36);
}
.movie{
    padding: 20px;
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    height: 60px;
    background: black;
}

.movie h1{
    color: white;
    margin-left: 30px;
}
nav input{
    margin-right: 300px;
    padding: 5px;
    border-radius: 6px;
    background-color: rgb(61, 58, 58);
    border: none;
    color: white;
    width: fit-content;
}
.first{
    background-color: rgb(41, 49, 131);
    padding: 8px;
    border-radius: 15px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.second{
    margin-left: 80px;
    padding: 8px;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: rgb(61, 58, 58);
    font-weight: bold;
    cursor: pointer;
}
.container{
    padding: 12px;
    width: 80%;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.grid{
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    background: black;
    color: white;
}
.grid .img{
    overflow: hidden;
    width: 100%;
    height: 150px;
    margin: 10px auto;
}
.grid .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main h2{
    margin-top: 20px;
    margin-left: 50px;
    color: white;
}
.third{
    border: none;
    padding: 5px 16px;
    border-radius: 10px;
    margin-top: 5px;
    color: black;
    cursor: pointer;
}